{% extends "base.html" %}

{% block title %}
<title>Home - StickerStorm</title>
{% endblock %}

{% block content %}
<center>
  <div id="content" class="container">
    <div class="row">
      <h1>StickerStorm</h1>
    </div>

    <div class="row">
      StickerStorm is a web app to help you organize and arrange your stickers on your laptop.
    </div>
    <div class="row">
      <img src="/static/img/laptop-stickered.png" width="600px" alt="">
    </div>
    <br />
    <div class="row">
      <a href="/stickers" class="myBtn">Get started</a>
    </div>

  </div>
</center>
{% endblock %}
